body {
    font-family: "Courier New", "Verdana" sans-serif;
    background-color: #FFE5D9;
}

main {
    margin: 30px;
    padding: 10px;
    text-align: center;
    background-color: #D8E2DC;
}

.recipe-list {
    margin-top: 20px;
    padding-left: 0;
}

.recipe-list li {
    list-style: none;
    padding: 10px;
}
